---
import { Picture } from "@astrojs/image/components";
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
import Pill from "../components/Pill.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Link from "@components/ui/LinkOrButton.astro";
import heroImage from "../../public/assets/hero-image.png";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";
import Skills from "../components/Skills.astro";
import Programs from "@components/Programs.section.astro";
import Features from "@components/Features.section.astro";
import AboutUs from "@components/AboutUs.section.astro";
import BookNow from "@components/BookNow.section.astro";
import ContactUs from "@components/ContactUs.section.astro";
import SocialProof from "@components/SocialProof.section.astro";
import Pricing from "@components/Pricing.section.astro";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <header class="wrapper stack gap-8 lg:gap-20 -mb-48 lg:-mb-48">
      <header class="hero">
        <Hero
          title="Experience the power of Edutainment with REVLAN"
          tagline="Revolutionary Language Learning for Kids"
          align="start">
          <div class="roles">
            <Link
              href="/contact"
              target="_self"
              class="flex gap-1 items-center justify-center"
              rel="noopener">
              Join World Tour Now
              <Icon icon="arrow-right" size="1.2em" />
            </Link>
            <Link
              id="watch-trigger"
              style="outline"
              href="#"
              class="gap-1 items-center justify-center hidden md:flex"
              rel="noopener">
              Watch video
              <Icon icon="video-camera" size="1.2em" />
            </Link>
          </div>
        </Hero>

        <!-- <div class="hero-images">
          <img
            class="hero-image"
            src="/assets/hero-image.png"
            alt="hero image"
          />
          <img
            class="hero-image-books"
            src="/assets/hero-image-books.png"
            alt="hero image"
          />
        </div> -->
        <div class="hero-images lg:-left-20">
          <img
            class="hero-image z-[2]"
            src="/assets/hero-image.png"
            alt="hero image"
          />
          <div class="books-container">
            <img
              class="book-image item-1 bounce"
              src="/assets/hero-travel-bag-revlan.png"
              alt="book 1"
            />
            <img
              class="book-image item-2 bounce"
              src="/assets/hero-airplane-revlan.png"
              alt="book 2"
            />
            <img
              class="book-image item-3 motion"
              src="/assets/hero-gaming-revlan.png"
              alt="book 3"
            />
            <img
              class="book-image item-4 motion"
              src="/assets/hero-pink-book-revlan.png"
              alt="book 4"
            />
          </div>
        </div>
      </header>

      <!-- <Skills /> -->
    </header>
    <div class="spacer layer1 mt-28 xl:-mt-4 lg:mt-5 md:mt-28"></div>
    <main class="stack -mt-28 lg:-mt-80">
      <Features />
      <Programs />
      <AboutUs />
      <div class="spacer layer1 -mb-40"></div>
      <SocialProof />
      <Pricing />
      <BookNow />
      <ContactUs />
    </main>

    <!-- <ContactCTA /> -->
  </div>
</BaseLayout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
  }

  .secondary-button {
    display: none;
  }

  .hero img {
    /* aspect-ratio: 5 / 4;
    object-fit: cover;
    object-position: top; */
    /* border-radius: 1.5rem; */
    /* box-shadow: var(--shadow-md); */
  }

  /* .hero-images {
    display: grid;
    width: 100%;
    max-width: 1000px;
    position: relative;
  }

  .hero-image {
    grid-area: 1 / 1;
    z-index: 2;
    width: 100%;
    transform: scale(0.7);
  }

  .hero-image-books {
    grid-area: 1 / 1;
    z-index: 1;
    width: 100%;
    height: auto;
    transform: scale(0.9);
    position: absolute;
    left: -8%;
    top: -12%;
  } */

  .hero-images {
    display: grid;
    width: 100%;
    max-width: 1000px;
    position: relative;
  }

  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
    i {
      animation: float linear 2.5s infinite alternate;
    }
  }

  .motion {
    animation: float linear 2.5s infinite alternate;
  }

  @keyframes bounce {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }

  .bounce {
    animation: bounce 2.5s infinite alternate;
  }

  .books-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "book1 book2 book3"
      "book4 book4 book4 ";
  }

  .book-image {
    position: absolute;
  }

  .item-1 {
    grid-area: book1;
    left: 0;
    top: 0;
  }

  .item-2 {
    grid-area: book2;
    left: 10%;
    top: -17%;
  }

  .item-3 {
    grid-area: book3;
    left: 3%;
    top: 0;
  }

  .item-4 {
    grid-area: book4;
    left: 50%;
    top: 0;
  }

  .spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .layer1 {
    background-image: url("/assets/feature-layer.svg");
  }

  @media (min-width: 769px) {
    /* .hero-image {
      transform: scale(1);
    }

    .hero-image-books {
      transform: scale(1.5);
      left: -20%;
      top: 0;
    } */

    .item-1 {
      left: 0;
      top: 0;
      transform: scale(1.6) !important;
    }

    .item-2 {
      left: 85%;
      top: 0;
      transform: scale(1.6) !important;
    }

    .item-3 {
      left: 0;
      top: 45%;
      transform: scale(1.2) !important;
    }

    .item-4 {
      left: 75%;
      top: 20%;
    }
  }

  @media (min-width: 768px) {
    /* 800px if fontsize base is 16px */
    .hero {
      display: grid;
      grid-template-columns: 9fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .roles {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
      font-size: var(--step-0);
    }

    .hero img {
      aspect-ratio: auto;
      border-radius: 4.5rem;
      object-fit: cover;
    }

    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header header" "gallery gallery gallery gallery";
      gap: 5rem;
    }

    .section.with-cta {
      grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
    }

    .section-header {
      grid-area: header;
      font-size: var(--text-lg);
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .with-cta .section-header {
      justify-self: flex-start;
      text-align: left;
    }

    .gallery {
      grid-area: gallery;
    }

    .cta {
      grid-area: cta;
    }
  }

  /* ====================================================== */

  .section {
    display: grid;
    gap: 2rem;
  }

  .with-background {
    position: relative;
  }

  .with-background::before {
    --hero-bg: var(--bg-image-subtle-2);

    content: "";
    position: absolute;
    pointer-events: none;
    left: 50%;
    width: 100vw;
    aspect-ratio: calc(2.25 / var(--bg-scale));
    top: 0;
    transform: translateY(-75%) translateX(-50%);
    background: url("/assets/backgrounds/noise.png") top center/220px repeat,
      var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
      var(--gray-999);
    background-blend-mode: overlay, normal, normal, normal;
    mix-blend-mode: var(--bg-blend-mode);
    z-index: -1;
  }

  .with-background.bg-variant::before {
    --hero-bg: var(--bg-image-subtle-1);
  }

  .section-header {
    justify-self: center;
    text-align: center;
    max-width: 50ch;
    font-size: var(--text-md);
    color: var(--gray-300);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  /* ====================================================== */

  .mention-card {
    display: flex;
    height: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 9.5rem;
    }
  }
</style>

<style is:global>
  .modal__inner {
  }

  .modal__content {
  }

  .modal__content h3 {
    display: none; /* hide the h3 element */
  }

  .modal.show .modal__inner {
    opacity: 1;
  }

  body .modal__inner {
    color: var(--accent-regular);
    border-color: var(--accent-regular);
    width: clamp(30ch, 70%, 75ch);
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  body .modal__content {
    gap: 0;
    padding: 0;
  }

  body .modal__content iframe {
    width: 100%; /* make the iframe takes the full width of modal__content element */
    border-radius: 0.5rem; /* apply rounder corners */
  }

  body .modal__close {
    display: none;
  }
</style>
