---
import ContactForm from "./ContactForm.astro";
import Icon from "./Icon.astro";
import LinkOrButton from "./ui/LinkOrButton.astro";
import Link from "./ui/LinkOrButton.astro";
---

<section
  id="contact"
  class="text-gray-600 body-font relative contact-bg contact-bg-overlay">
  <div class="container px-5 py-24 mx-auto flex">
    <div
      class="lg:w-1/2 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
        Contact Us!
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Get in touch with our english methodology and explore more about
        edutainment with Revlan.
      </p>
      <ContactForm>
        <LinkOrButton
          type="submit"
          block={true}
          style="secondary"
          class="flex gap-1 items-center justify-center">
          Reach Out to Us Today
          <Icon icon="hand-pointing" size="1.2em" />
        </LinkOrButton>
      </ContactForm>
    </div>
    <style>
      .contact-bg {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
          url("/assets/backgrounds/bg-contact.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </div>
</section>
