---
import ContactForm from "./ContactForm.astro";
import Icon from "./Icon.astro";
import LinkOrButton from "./ui/LinkOrButton.astro";
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
import { localizeUrl } from "astro-i18next";
const localizedUrl = localizeUrl("/confirmation");
---

<section
  id="contact"
  class="text-gray-600 body-font relative contact-bg contact-bg-overlay">
  <div class="container px-5 py-24 mx-auto flex">
    <div
      class="lg:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">
        {t("home.contactUs.title")}
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        <Trans i18nKey="home.contactUs.text">
          Get in touch with our english methodology and <span
            class="text-primary"
            >explore more about edutainment with Revlan.</span
          >
        </Trans>
      </p>
      <ContactForm>
        <LinkOrButton
          id="submitBtn"
          type="submit"
          block={true}
          style="secondary"
          class="flex gap-1 items-center justify-center">
          {t("home.contactUs.cta")}
          <Icon icon="hand-pointing" size="1.2em" />
        </LinkOrButton>
      </ContactForm>
    </div>
    <style>
      .contact-bg {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
          url("/assets/backgrounds/bg-contact.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </div>
</section>

<script is:inline>
const form = document.getElementById("form");
const result = document.getElementById("result");
const button = document.getElementById("submitBtn");

function getLangFromUrl(url) {
  const [, lang] = url.pathname.split("/");
  console.log(url);
  console.log(lang);
  return lang;
}

form.addEventListener("submit", function (e) {
  e.preventDefault();

  form.classList.add("was-validated");
  if (!form.checkValidity()) {
    form.querySelectorAll(":invalid")[0].focus();
    return;
  }
  const formData = new FormData(form);
  const object = Object.fromEntries(formData);
  const json = JSON.stringify(object);

  console.log(form);
  console.log(object);

  button.textContent = "Sending...";
  button.disabled = true;
  fetch("https://api.web3forms.com/submit", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: json,
  })
    .then(async (response) => {
      let json = await response.json();
      const currentLang = getLangFromUrl(window.location);

      if (response.status == 200) {
        button.textContent = "Reach Out to Us Today";
        button.disabled = false;
        location.href = `/${currentLang}/confirmation`;
        result.innerHTML = json.message;
      } else {
        console.log(response);
        result.classList.add("text-red-500");
        result.innerHTML = json.message;
      }
    })
    .catch((error) => {
      console.log(error);
      result.innerHTML = "Something went wrong!";
    })
    .then(function () {
      form.reset();
      form.classList.remove("was-validated");
      setTimeout(() => {
        result.style.display = "none";
      }, 5000);
    });
});
</script>
