---
import Icon from "./Icon.astro";
import Link from "./ui/LinkOrButton.astro";
---

<section id="howitworks" class="text-gray-600 body-font bg-bgsecondary">
  <div class="wrapper">
    <div class="container px-5 py-6 lg:py-4 md:py-6 mx-auto bg-bgsecondary">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-xs tracking-widest font-medium title-font mb-1">
          HOW IT WORKS
        </h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">
          How do we deliver <span class="text-primary">Edutainment</span>
        </h1>
        <h2 class="text-xs tracking-widest font-medium title-font mb-1">
          Know more about our English teaching methodology
        </h2>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/2 lg:w-1/3">
          <div class="flex rounded-lg h-full p-8 flex-col bg-white">
            <div class="flex items-center mb-3">
              <div
                class="w-14 h-14 mr-3 inline-flex items-center justify-center rounded-full bg-red-light text-red border-icon-opacity-red border flex-shrink-0">
                <Icon icon="piggy-bank" size="1.5em" />
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">
                Convenient and Affordable Learning
              </h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">
                By offering language learning shows online, REVLAN provides a
                convenient and affordable way for parents to support their
                child's language learning journey. This can save parents time
                and money that would otherwise be spent on traditional language
                classes.
              </p>
              <a class="mt-3 text-red-500 inline-flex items-center"
                >Learn More
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/2 lg:w-1/3">
          <div class="flex rounded-lg h-full p-8 flex-col bg-white">
            <div class="flex items-center mb-3">
              <div
                class="w-14 h-14 mr-3 inline-flex items-center justify-center rounded-full bg-blue-light text-blue border-icon-opacity-blue border flex-shrink-0">
                <Icon icon="diamond" size="1.5em" />
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">
                High-Quality Edutainment
              </h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">
                REVLAN offers a unique combination of education and
                entertainment, providing a fun and engaging way for children to
                learn a new language. Parents can feel good knowing that their
                child is not only learning a valuable skill but also having fun
                in the process.
              </p>
              <a class="mt-3 text-red-500 inline-flex items-center"
                >Learn More
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/2 lg:w-1/3">
          <div class="flex rounded-lg h-full p-8 flex-col bg-white">
            <div class="flex items-center mb-3">
              <div
                class="w-14 h-14 mr-3 inline-flex items-center justify-center rounded-full bg-purple-light text-purple border-icon-opacity-purple border flex-shrink-0">
                <Icon icon="microphone" size="1.5em" />
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">
                Improved Language Skills
              </h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">
                Learning a new language can open up a world of opportunities for
                children, both academically and professionally. By exposing
                children to a new language at an early age, REVLAN can help them
                develop strong language skills that will serve them well
                throughout their lives.
              </p>
              <a class="mt-3 text-red-500 inline-flex items-center"
                >Learn More
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/2 lg:w-1/3">
          <div class="flex rounded-lg h-full p-8 flex-col bg-white">
            <div class="flex items-center mb-3">
              <div
                class="w-14 h-14 mr-3 inline-flex items-center justify-center rounded-full bg-blue-light text-blue border-icon-opacity-blue border flex-shrink-0">
                <Icon icon="airplane" size="1.5em" />
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">
                Cultural Awareness
              </h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">
                REVLAN can also help children develop a deeper understanding and
                appreciation of different cultures. This can help children
                become more open-minded and empathetic individuals, which are
                important qualities in today's global society.
              </p>
              <a class="mt-3 text-red-500 inline-flex items-center"
                >Learn More
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/2 lg:w-1/3">
          <div class="flex rounded-lg h-full p-8 flex-col bg-white">
            <div class="flex items-center mb-3">
              <div
                class="w-14 h-14 mr-3 inline-flex items-center justify-center rounded-full bg-purple-light text-purple border-icon-opacity-purple border flex-shrink-0">
                <Icon icon="mask-happy" size="1.5em" />
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">
                Confidence and Empowerment
              </h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">
                Learning a new language can be a challenging but rewarding
                experience. By providing children with the tools they need to
                succeed, REVLAN can help build their confidence and empower them
                to take on new challenges in life.
              </p>
              <a class="mt-3 text-red-500 inline-flex items-center"
                >Learn More
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/2 lg:w-1/3">
          <div class="flex rounded-lg h-full p-8 flex-col bg-white">
            <div class="flex items-center mb-3">
              <div
                class="w-14 h-14 mr-3 inline-flex items-center justify-center rounded-full bg-red-light text-red border-icon-opacity-red border flex-shrink-0">
                <Icon icon="thumbs-up" size="1.5em" />
              </div>
              <h2 class="text-gray-900 text-lg title-font font-medium">
                Great solution for parents
              </h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">
                By providing a convenient, high-quality, and engaging language
                learning experience, REVLAN can help children develop valuable
                skills while having fun and feeling confident and empowered
                along the way.
              </p>
              <a class="mt-3 text-red-500 inline-flex items-center"
                >Learn More
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col text-center w-full mb-20 items-center">
        <div class="p-4 md:w-1/2 lg:w-1/3 text-center">
          <Link
            style="secondary"
            href="/contact"
            target="_self"
            class="flex gap-1 items-center justify-center"
            rel="noopener">
            Secure Your Child's Spot Today
            <Icon icon="airplane" size="1.2em" />
          </Link>
        </div>
      </div>
    </div>
  </div>
</section>
