---
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

interface Props {
  title: string;
  tagline?: string;
  align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<header class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    <h1 class="title">
      <Trans i18nKey="home.title">
        Experience the power <br />of <span class="text-primary"
          >Edutainment</span
        > with REVLAN
      </Trans>
    </h1>
    {tagline && <p class="tagline">{t("home.subtitle")}</p>}
  </div>
  <slot />
</header>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .title,
  .tagline {
    max-width: 37ch;
    margin-inline: auto;
  }

  .title {
    font-size: var(--text-2xl);
    color: var(--gray-0);
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }

    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      line-height: 1.25;
      margin-inline: unset;
    }

    .title {
      @apply text-5xl;
    }
  }
</style>
