---
import Icon from "./Icon.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
---

<section id="pricing" class="relativetext-gray-600 body-font mb-48">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2
        class="text-xs text-black tracking-widest font-medium title-font mb-1">
        {t("home.pricing.section-title")}
      </h2>
      <h1
        class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">
        <Trans i18nKey="home.pricing.main-title">
          <span class="text-primary">Price Your Fun:</span> Get Ready for the Show!
        </Trans>
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500">
        {t("home.pricing.text")}
      </p>
      <div
        class="flex mx-auto border-2 border-purple rounded overflow-hidden mt-6">
        <button
          id="btn-usd"
          class="py-1 px-4 bg-purple text-white focus:outline-none">USD</button
        >
        <button id="btn-pen" class="py-1 px-4 focus:outline-none">PEN</button>
      </div>
    </div>
    <div class="flex flex-wrap -m-4 justify-center mb-5">
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
          <h1
            class="price text-5xl text-gray-900 leading-none flex items-center pb-4">
            <Trans i18nKey="home.pricing.package1.price">
              <span>$7</span>
              <span class="text-lg ml-1 font-normal text-gray-500"
                >/per child</span
              >
            </Trans>
          </h1>
          <h2
            class="text-sm tracking-widest title-font mb-1 font-medium border-b border-gray-200">
            {t("home.pricing.package1.title")}
            <br />
            <span class="ml-1 font-normal text-gray-600"
              >{t("home.pricing.package1.type")}</span
            >
          </h2>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-primary text-white rounded-full flex-shrink-0">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>{t("home.pricing.package1.main")}
          </p>
          <div>
            <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
              {t("home.pricing.features-title")}
            </h2>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-gray-200 rounded-full flex-shrink-0">
                <Icon icon="x-circle" size="1.2em" />
              </span>{t("home.pricing.features.1")}
            </p>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-gray-200 rounded-full flex-shrink-0">
                <Icon icon="x-circle" size="1.2em" />
              </span>{t("home.pricing.features.2")}
            </p>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-gray-200 rounded-full flex-shrink-0">
                <Icon icon="x-circle" size="1.2em" />
              </span>{t("home.pricing.features.3")}
            </p>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-gray-200 rounded-full flex-shrink-0">
                <Icon icon="x-circle" size="1.2em" />
              </span>{t("home.pricing.features.4")}
            </p>
          </div>
        </div>
      </div>
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
          <h1
            class="price text-5xl text-gray-900 leading-none flex items-center pb-4">
            <span>$18</span>
            <span class="text-lg ml-1 font-normal text-gray-500"
              >/per child</span
            >
          </h1>
          <h2
            class="text-sm tracking-widest title-font mb-1 font-medium border-b border-gray-200">
            Travel Camp <br />
            <span class="ml-1 font-normal text-gray-600">(Half Tour)</span>
          </h2>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-primary text-white rounded-full flex-shrink-0">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Package of 4 shows
          </p>
          <div>
            <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
              Digital products
            </h2>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-gray-200 rounded-full flex-shrink-0">
                <Icon icon="x-circle" size="1.2em" />
              </span>Travel itinerary
            </p>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-gray-200 rounded-full flex-shrink-0">
                <Icon icon="x-circle" size="1.2em" />
              </span>Continue the Fun Activity Book
            </p>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-gray-200 rounded-full flex-shrink-0">
                <Icon icon="x-circle" size="1.2em" />
              </span>Printable passport
            </p>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-gray-200 rounded-full flex-shrink-0">
                <Icon icon="x-circle" size="1.2em" />
              </span>Certification of Completion
            </p>
          </div>
        </div>
      </div>
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-purple flex flex-col relative overflow-hidden">
          <!-- <span
            class="bg-purple text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl"
            >Best Value</span
          > -->

          <img
            class="absolute -top-1 right-6"
            src="/assets/bookmark.svg"
            alt="bookmark"
          />

          <h1
            class="price text-5xl text-gray-900 leading-none flex items-center pb-4">
            <span>$40</span>
            <span class="text-lg ml-1 font-normal text-gray-500"
              >/per child</span
            >
          </h1>
          <h2
            class="text-sm tracking-widest title-font mb-1 font-medium border-b border-gray-200">
            Travel Camp <br />
            <span class="ml-1 font-normal text-gray-600">(Full Tour)</span>
          </h2>
          <p class="flex items-center text-gray-600 mb-2">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-primary text-white rounded-full flex-shrink-0">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24">
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Package of 8 shows + Digital products
          </p>
          <div>
            <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
              Digital products
            </h2>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-cyan-400 rounded-full flex-shrink-0">
                <Icon icon="check-circle" size="1.2em" />
              </span>Travel itinerary
            </p>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-cyan-400 rounded-full flex-shrink-0">
                <Icon icon="check-circle" size="1.2em" />
              </span>Continue the Fun Activity Book
            </p>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-cyan-400 rounded-full flex-shrink-0">
                <Icon icon="check-circle" size="1.2em" />
              </span>Printable passport
            </p>
            <p class="flex items-center text-gray-600 mb-2">
              <span
                class="w-4 h-4 mr-2 inline-flex items-center justify-center text-cyan-400 rounded-full flex-shrink-0">
                <Icon icon="check-circle" size="1.2em" />
              </span>Certification of Completion
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col text-center w-full">
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500">
        Are you an institute, organization, or school looking to bring this
        program to your group of children?
      </p>
      <h1
        class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">
        Contact us to get a <span class="text-primary">special package</span>
      </h1>
      <h2
        class="text-xs text-black tracking-widest font-medium title-font mb-1">
        for your group and create an unforgettable experience
      </h2>
    </div>
    <div class="grid w-full max-w-5xl relative">
      <img
        class="row-start-1 col-start-1 w-full scale-50 md:scale-50 absolute md:translate-x-6 md:-translate-y-20 lg:translate-x-40 lg:-translate-y-40"
        src="/assets/book-now-top.svg"
        alt="hero image"
      />
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btnUsd = document.getElementById("btn-usd");
    const btnPen = document.getElementById("btn-pen");
    const priceElements = document.getElementsByClassName("price");

    const updatePrices = (currency) => {
      const usdPrices = [
        [7, 25.9],
        [18, 69.99],
        [40, 149.99],
      ];
      const exchangeRate = 3.7;

      for (let i = 0; i < priceElements.length; i++) {
        const newPrice =
          currency === "USD"
            ? { symbol: "$", value: usdPrices[i][0] }
            : { symbol: "S/", value: usdPrices[i][1] };

        priceElements[i].querySelector("span").textContent = `${
          newPrice.symbol
        }${newPrice.value.toFixed(2)}`;
      }
    };

    const toggleButtonClasses = (activeButton) => {
      btnUsd.classList.remove("bg-purple", "text-white");
      btnPen.classList.remove("bg-purple", "text-white");
      activeButton.classList.add("bg-purple", "text-white");
    };

    btnUsd.addEventListener("click", () => {
      updatePrices("USD");
      toggleButtonClasses(btnUsd);
    });

    btnPen.addEventListener("click", () => {
      updatePrices("PEN");
      toggleButtonClasses(btnPen);
    });
  });
</script>
