---
import Icon from "./Icon.astro";
---

<section id="programs" class="text-gray-600 body-font bg-purple-50">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-col text-center w-full mb-20">
      <h2
        class="text-xs text-black tracking-widest font-medium title-font mb-1">
        OUR PROGRAM
      </h2>
      <h1 class="sm:text-3xl text-5xl font-medium title-font text-gray-900">
        What's in our <span class="text-purple-700">teaching bag</span> of tricks?
      </h1>
      <h2 class="text-xs tracking-widest font-medium title-font mb-1">
        A magical assortment of techniques, tools, and activities to make
        learning fun and engaging!
      </h2>
    </div>
    <div class="flex flex-wrap flex-row w-full">
      <div
        class="sm:flex-grow md:flex-grow pr-2 md:pr-0 w-full lg:w-1/2 md:order-2 lg:order-1">
        <div class="flex relative pb-12 items-center gap-5">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-purple text-white relative z-10 title-font font-medium text-sm">
            1
          </div>
          <div
            class="flex-shrink-0 w-14 h-14 rounded-full bg-purple-light inline-flex items-center justify-center text-purple border-purple-300 border relative z-10">
            <Icon icon="air-plane-flight" size="1.5em" />
          </div>
          <div class="flex-grow pl-4">
            <h2
              class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">
              A new country a new episode
            </h2>
            <p class="leading-relaxed">
              Each show focuses on exploring a new country
            </p>
          </div>
        </div>
        <div class="flex relative pb-12 items-center gap-5">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-purple text-white relative z-10 title-font font-medium text-sm">
            2
          </div>
          <div
            class="flex-shrink-0 w-14 h-14 rounded-full bg-purple-light inline-flex items-center justify-center text-purple border-purple-300 border relative z-10">
            <Icon icon="flashlight" size="1.5em" />
          </div>
          <div class="flex-grow pl-4">
            <h2
              class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">
              Get familiar with the country before take off
            </h2>
            <p class="leading-relaxed">
              From the location on the map to the vibrant flag and its region in
              the world, embark on an educational journey like no other.
            </p>
          </div>
        </div>
        <div class="flex relative pb-12 items-center gap-5">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-purple text-white relative z-10 title-font font-medium text-sm">
            3
          </div>
          <div
            class="flex-shrink-0 w-14 h-14 rounded-full bg-purple-light inline-flex items-center justify-center text-purple border-purple-300 border relative z-10">
            <Icon icon="rocket-launch" size="1.5em" />
          </div>
          <div class="flex-grow pl-4">
            <h2
              class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">
              Virtual take off
            </h2>
            <p class="leading-relaxed">
              The show starts with a virtual takeoff in an airplane and a short
              video on the destination country
            </p>
          </div>
        </div>
        <div class="flex relative pb-12 items-center gap-5">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-purple text-white relative z-10 title-font font-medium text-sm">
            4
          </div>
          <div
            class="flex-shrink-0 w-14 h-14 rounded-full bg-purple-light inline-flex items-center justify-center text-purple border-purple-300 border relative z-10">
            <Icon icon="magnifying-glass" size="1.5em" />
          </div>
          <div class="flex-grow pl-4">
            <h2
              class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">
              Let’s explore and learn
            </h2>
            <p class="leading-relaxed">
              Once landed in the country, the exploration begins through
              interactive games themed around the country's attractions/culture
            </p>
          </div>
        </div>
        <div class="flex relative pb-12 items-center gap-5">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-purple text-white relative z-10 title-font font-medium text-sm">
            5
          </div>
          <div
            class="flex-shrink-0 w-14 h-14 rounded-full bg-purple-light inline-flex items-center justify-center text-purple border-purple-300 border relative z-10">
            <Icon icon="hands-clapping" size="1.5em" />
          </div>
          <div class="flex-grow pl-4">
            <h2
              class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">
              Engage and play
            </h2>
            <p class="leading-relaxed">
              The games are designed to engage children in English in a very
              organic way, promoting language learning while having fun.
            </p>
          </div>
        </div>
        <div class="flex relative items-center gap-5">
          <div
            class="h-full w-6 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-purple text-white relative z-10 title-font font-medium text-sm">
            6
          </div>
          <div
            class="flex-shrink-0 w-14 h-14 rounded-full bg-purple-light inline-flex items-center justify-center text-purple border-purple-300 border relative z-10">
            <Icon icon="globe" size="1.5em" />
          </div>
          <div class="flex-grow pl-4">
            <h2
              class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">
              It’s time to leave for the next adventure!
            </h2>
            <p class="leading-relaxed">
              Each episode concludes with a farewell to the country, leaving the
              viewers excited for the next adventure.
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex justify-center w-full h-[30%] lg:w-1/2 lg:h-full md:order-1 lg:order-2">
        <img
          class="transform aspect-[4/3] scale-95 md:float-right md:scale-75"
          src="/assets/ourprogram.svg"
          alt="our programs"
        />
      </div>
    </div>
  </div>
</section>

<style>
  @media (min-width: 768px) {
    .programs img {
      aspect-ratio: auto;
      border-radius: 4.5rem;
      object-fit: cover;
      transform: scale(0.7);
    }
  }
</style>
