<section class="text-gray-600 body-font bg-bgsecondary">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2
        class="text-xs text-red-500 tracking-widest font-medium title-font mb-1">
        SOCIAL PROOF
      </h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">
        See What Our Satisfied Customers Are Saying!
      </h1>
      <h2 class="text-xs tracking-widest font-medium title-font mb-1">
        Read through our reviews to see why you can trust us.
      </h2>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <img
            alt="testimonial"
            class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
            src="/assets/testimony-1.png"
          />
          <p class="leading-relaxed">
            “As an educator and mother of a 6 year old girl, I am very happy to
            find the kids of Revlan Peru. They have innovated the way of
            learning a second language, in this case English, in a dynamic, fun
            and dosed way for children and young people. Camilu is happy in the
            shows because they enjoy and learn naturally without pressures. What
            I also loved is the social responsibility of the project, providing
            part of the profits to a social case. I highly recommend them!”
          </p>
          <span class="inline-block h-1 w-10 rounded bg-red-500 mt-6 mb-4"
          ></span>
          <h2
            class="text-gray-900 font-medium title-font tracking-wider text-sm">
            Stefy Zuñiga
          </h2>
          <p class="text-gray-500">Camila’s Mommy</p>
        </div>
      </div>
      <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <img
            alt="testimonial"
            class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
            src="/assets/testimony-2.png"
          />
          <p class="leading-relaxed">
            “I am very happy and grateful for the innovative REVLAN Initiative
            directed by young Sarah and Benja who teach English to children
            through Interactive Shows. Particularly my 6 year old daughter is
            not only learning the correct pronunciation of English but also
            having fun with other children from different parts of the country
            and the world. The shows are full of games that are super dynamic
            and where the children enjoy learning another language. There are no
            children with fear or shyness, only happy children is perceived.
            That is why I recommend REVLAN.”
          </p>
          <span class="inline-block h-1 w-10 rounded bg-red-500 mt-6 mb-4"
          ></span>
          <h2
            class="text-gray-900 font-medium title-font tracking-wider text-sm">
            Cecilia Torres
          </h2>
          <p class="text-gray-500">María’s Mommy</p>
        </div>
      </div>
      <div class="lg:w-1/3 lg:mb-0 p-4">
        <div class="h-full text-center">
          <img
            alt="testimonial"
            class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
            src="/assets/testimony-3.png"
          />
          <p class="leading-relaxed">
            “I'm so happy with the teaching method they have with the kids, they
            recommended these shows to me and I really don't regret it at all,
            quite the opposite, my son is very happy to learn English every day
            with this fun methodology, Thanks Benja and Sarah, I strongly
            recommend them!”
          </p>
          <span class="inline-block h-1 w-10 rounded bg-red-500 mt-6 mb-4"
          ></span>
          <h2
            class="text-gray-900 font-medium title-font tracking-wider text-sm">
            Andrea Alejandra
          </h2>
          <p class="text-gray-500">Mateo’s Mommy</p>
        </div>
      </div>
    </div>
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">
        Our Alliances for a Brighter Future!
      </h2>
    </div>
  </div>
</section>
