---
import { changeLanguage } from "i18next";
import SecondaryLayout from "layouts/SecondaryLayout.astro";
import Hero from "../../components/Hero.astro";
import LinkOrButton from "@components/ui/LinkOrButton.astro";
import Icon from "@components/Icon.astro";
import ContactForm from "@components/ContactForm.astro";

changeLanguage("es");
---

<SecondaryLayout title="Contact" description="Contact Form">
    <section class="text-gray-600 body-font">
        <div
            class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
            <div
                class="w-1/2 md:w-2/3 flex flex-col mb-16 items-center text-center">
                <h1
                    class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 text-primary">
                    Contact Us!
                </h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                    Get in touch with our english methodology and explore more
                    about edutainment with Revlan.
                </p>
                <ContactForm>
                    <LinkOrButton
                        id="submitBtn"
                        block={true}
                        style="primary"
                        class="flex gap-1 items-center justify-center submitBtn">
                        Reach Out to Us Today
                        <Icon icon="arrow-right" size="1.2em" />
                    </LinkOrButton>
                </ContactForm>
            </div>
            <img
                class="md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
                alt="hero"
                src="/assets/hero-contact.svg"
            />
        </div>
    </section>
</SecondaryLayout>
