---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Footer2 from "@components/Footer2.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class="stack backgrounds">
      <Nav />
      <slot />
      <Footer2 />
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Add “loaded” class once the document has completely loaded.
        addEventListener("load", () =>
          document.documentElement.classList.add("loaded")
        );
        console.log("afterload");
        // Select all menu links
        const menuLinks = document.querySelectorAll("nav a");

        // Add click event listener to each menu link
        // Add click event listener to each menu link
        menuLinks.forEach((link) => {
          link.addEventListener("click", (event) => {
            event.preventDefault(); // Prevent default link behavior

            // Get the target section element
            const targetHref = event.target.getAttribute("href");
            const targetSection = document.querySelector(targetHref);

            // Scroll to the target section smoothly
            targetSection.scrollIntoView({ behavior: "smooth" });

            // Update the URL path without causing a full page reload
            history.pushState(null, "", targetHref);
          });
        });

        const sections = document.querySelectorAll("section");
        const navLi = document.querySelectorAll("nav a");

        const dataAnchors = document.querySelectorAll("[data-anchor]");
        const menuLinksHelper = document.querySelectorAll(".nav-items a");
        function updateActiveClass() {
          let current = "";
          console.log("HIII");
          sections.forEach((section) => {
            const sectionTop = section.offsetTop;
            if (scrollY >= sectionTop) {
              current = section.getAttribute("id");
            }
          });

          navLi.forEach((li) => {
            li.classList.remove("active");
            if (li.getAttribute("href").slice(1) === current) {
              li.classList.add("active");
            }
          });

          let currentSection = "";
          dataAnchors.forEach((section) => {
            const sectionTop = section.offsetTop;
            if (window.pageYOffset >= sectionTop) {
              currentSection = section.getAttribute("data-anchor");
            }
          });

          menuLinksHelper.forEach((link) => {
            link.classList.remove("active");
            if (link.getAttribute("data-anchor") === currentSection) {
              link.classList.add("active");
            }
          });
        }
        console.log("event Listener");
        window.addEventListener("scroll", updateActiveClass);
      });
    </script>

    <style>
      :root {
        --_placeholder-bg: linear-gradient(transparent, transparent);
        --bg-image-main: url("/assets/backgrounds/bg-main-light-800w.jpg");
        --bg-image-main-curves: url("/assets/backgrounds/bg-main-light.svg");
        --bg-image-main-rainbow: url("/assets/backgrounds/bg-main-rainbow.svg");
        --bg-image-subtle-1: var(--_placeholder-bg);
        --bg-image-subtle-2: var(--_placeholder-bg);
        --bg-image-footer: var(--_placeholder-bg);
        --bg-svg-blend-mode: overlay;
        --bg-blend-mode: darken;
        --bg-image-aspect-ratio: 2.25;
        --bg-scale: 1.68;
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-gradient-size: calc(var(--bg-scale) * 100%);
      }

      :root.theme-dark {
        --bg-image-main: url("/assets/backgrounds/bg-main-dark-800w.jpg");
        --bg-image-main-curves: url("/assets/backgrounds/bg-main-dark.svg");
        --bg-svg-blend-mode: darken;
        --bg-blend-mode: lighten;
      }

      /* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */
      :root.loaded {
        --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-light-800w.jpg");
        --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-light-800w.jpg");
        --bg-image-footer: url("/assets/backgrounds/bg-footer-light-800w.jpg");
      }
      :root.loaded.theme-dark {
        --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-dark-800w.jpg");
        --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-dark-800w.jpg");
        --bg-image-footer: url("/assets/backgrounds/bg-footer-dark-800w.jpg");
      }

      @media (min-width: 50em) {
        :root {
          --bg-scale: 1;
          --bg-image-main: url("/assets/backgrounds/bg-main-light-1440w.jpg");
        }
        :root.theme-dark {
          --bg-image-main: url("/assets/backgrounds/bg-main-dark-1440w.jpg");
        }

        :root.loaded {
          --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-light-1440w.jpg");
          --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-light-1440w.jpg");
          --bg-image-footer: url("/assets/backgrounds/bg-footer-light-1440w.jpg");
        }
        :root.loaded.theme-dark {
          --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-dark-1440w.jpg");
          --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-dark-1440w.jpg");
          --bg-image-footer: url("/assets/backgrounds/bg-footer-dark-1440w.jpg");
        }
      }

      hmtl {
        scroll-behavior: smooth;
        scroll-padding-top: var(--scroll-padding, 100px);
      }

      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background:
         /*header1*/ var(--bg-image-main-rainbow) top
          center/var(--bg-gradient-size) no-repeat;
        background-blend-mode: /*noise*/ overlay,
          /*footer*/ var(--bg-blend-mode), /*header1*/ var(--bg-svg-blend-mode),
          /*header2*/ normal, /*base*/ normal;
      }
      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>
  </body>
</html>
